---
import Layout from "../layouts/Layout.astro";
import ProductosList from "../components/ProductosList.jsx";

const res = await fetch("http://localhost:3000/api/productos");
const productos = await res.json();
---

<Layout>

  <h1 class="text-3xl font-bold text-center my-6">
    Productos
  </h1>

  <ProductosList productos={productos} client:load />

</Layout>